body {
    margin:0;
    padding:0;
    transition: background-color 0.5s;
    --sb-width: 3rem;
    font-family: Arial, sans-serif;
}


body.sb-expanded{
    --sb-width: 300px;
}

* {
    box-sizing: border-box;
  }


  


#header_container {
    background:#213555;
    border:1px solid #666;
    height:50px;
    left:0;
    position:fixed;
    width:100%;
    top:0;
}

#header {
    line-height:50px;
    margin:0 auto;
    width:940px;
    text-align:center;
    color: white;
    padding-left: 0;
    font-size: 20px;
    font-family: alice;
}


/* sidebar */


#sidebar{
    background-color: #f5efe7;
    position: fixed;
    /* top: 50px;
    left: 0;
    bottom: 30px; */
    inset: 50px auto 0 0;
    /* width: 50px; */
    width: var(--sb-width)
}

#button{
    color: #616060;
    scale: 1.5;
    
    /* padding-left: 30px; */
}

#button.hover{
    color: black;
}


#list_nav, #ul_list{
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 30px;
    align-items: center;
}

#ul_list{
    padding-left: 0;
}

#list_item, #list_nav {
    display: flex;
    font-family: 'Alice';
    line-height: 1;
    color: #676767;
    text-decoration: none;
    font-size: 23px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}


/* a:link {
    color: black;
    background-color: rgb(237, 237, 237);
    text-decoration: underline;
  }
  
  a:visited {
    color: black;
    background-color: rgb(240, 240, 240);
    text-decoration: underline;
  }
  
  a:hover {
    color: black;
    background-color: rgb(168, 168, 168);
    text-decoration: underline;
  } */

#center2, #center1, #references, #inhibitors2, #inhibitors1, #pathway_kegg, #protein_interaction,#tip_1, #tip_2, #survey_form:link{
    color: black;
    background-color: rgb(237, 237, 237);
    text-decoration: underline;
}

#center2, #center1, #references, #inhibitors2, #inhibitors1, #pathway_kegg, #protein_interaction, #tip_1, #tip_2,#survey_form:hover{
    color: black;
    background-color: rgb(225, 175, 254);
    text-decoration: underline;
}

#center2, #center1, #references, #inhibitors2, #inhibitors1, #pathway_kegg, #protein_interaction, #tip_1, #tip_2,#survey_form:visited{
    color: black;
    background-color: rgb(237, 237, 237);
    text-decoration: underline;
}

#list_span, #list_item, #list_nav {
    opacity: 0;
    visibility: hidden;
    /* transition: opacity 0.1s ease-in, visibility 0.1s ease-in */
}

.sb-expanded #list_span, #list_item, #list_nav {
    opacity: 1;
    visibility: visible
}

#index {
    opacity: 1;
    visibility: visible;
    text-orientation: mixed;
}

.sb-expanded #index{
    opacity: 0;
    visibility: hidden;
}


.sb-expanded #sidebar .bx-chevrons-right{
    rotate: 180deg
}

/* main content */

#title{
    font-family: 'Anton';
}

#main{
    padding-top: 50px;
    padding-left: 3rem;
    transition: margin-left 0.5s ease-in-out;
}

h1{
    text-align: center;
}

h2{
    font-size: 30px;
    padding-top: 60px;
}



hr{
    margin-bottom: 30px;
    margin-right: 45px;
}

@media(min-width:768px){
    main{
        margin-left: var(--sb-width);
    }
}


#pie_table{
    border-color: none;
    margin-left: auto;
  margin-right: auto;
}


#piechart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(
        rgb(204, 0, 245) 0 270deg,
        rgb(93, 0, 103) 0 
    );
}

#excel{
    width: 680px;
    height: 500px;
    margin: auto;
    display: block;
}


#topic {
    width: 30px;
    height: 10px;
    display: inline-block;
}


/* #genetics_table{
    margin: auto;
    display: block;
} */


#bar_chart{
    margin: auto;
    display: block;
}

#ppi_network{
    width: 600px;
    height:600px;
    margin: auto;
    display: block;
}

#pathway_img{
    width: 700px;
    height:700px;
    margin: auto;
    display: block;
}

#drug_img{
    width: 500px;
    height:400px;
    margin: auto;
    display: block;
}

#about_img{
    width: 700px;
    height:500px;
    margin: auto;
    display: block;
}


#pdf{
    width: 700px;
    height: 700px;
    margin: auto;
    display: block;
}



/* Make Footer Sticky */
#footer_container {
    background:#213555;
    border:1px solid #666;
    bottom:0;
    height:30px;
    left:0;
    position:fixed;
    width:100%;
}

#footer {
    line-height:30px;
    margin:0 auto;
    width:940px;
    text-align:center;
    color: black
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
    /* border-radius: 8px; */
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 8px;
}
/* ::-webkit-scrollbar-thumb:hover {
    background: #999;
} */